---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I’m driven by a passion for innovation and a deep commitment to empowering others. With a diverse skill set spanning digital marketing, STEM education, and entrepreneurship, I thrive on creating solutions that inspire growth, learning, and success.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Digital marketing"
      subtitle=" 2024 at Honeytreat Trade Academy, Lagos, Nigeria"
    />
    <TimeLineElement
      title="HND"
      subtitle="2021 to 2023 at Yaba College of Technology, Lagos, Nigeria"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Internship"
      subtitle="From 2024 to  at Greenpathdev, Lagos, Nigeria"
    >
      
    </TimeLineElement>
    <TimeLineElement
      title="Part-time Instructor"
      subtitle=" November, 2024 to at Brainiacs Stem and Robotics, Lagos, Nigeria"
    >
  
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">google ad video certificate</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> google ad display certificate (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>E mail Marketing</li>
    <li>Google ad</li>
    <li>Meta ad</li>
    <li>SEO</li>
    <li>wikipedia</li>
    <li>Tik tok ad</li>
    <li>Snap chat ad</li>
    <li>Youtube ad</li>
    <li>Blog content</li>
    <li>Google Local service</li>
    <li>Google tag manager</li>
    <li>Google analytics</li>
    <li>Google search console</li>
    <li>keyword research</li>
    <li>Problem solving and critical thinking</li>
  </ul>
</BaseLayout>
